<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
</head>

<body>

    <div id="header">
        <div class="flex bg-blue-900 top-0 inset-x-0 z-100 h-12 fixed items-center">
            <!-- Fixed? -->
            <div class="w-full max-w-screen-xl relative mx-auto px-6">
                <nav class="flex items-center">
                    <div class="ml-5 flex items-center flex-shrink-0 text-white mr-4">
                        <a class="text-white" href="/"><span class="font-semibold text-xl tracking-tight"
                                style="text-transform: uppercase;">shibainu</span></a>
                    </div>

                    <div class="block lg:hidden">
                        <button
                            class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <title>Menu</title>
                                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                            </svg>
                        </button>
                    </div>

                    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto text-gray-600 md:pl-8 ">

                        <div class="text-sm md:flex-grow ">
                            <div class="w-full lg:px-6 xl:w-3/4 xl:px-12">
                                <div class="relative">
                                    <span class="w-full"
                                        style="position: relative; display: inline-block; direction: ltr;">
                                        <input id="docsearch"
                                            class="transition-colors duration-100 ease-in-out focus:outline-0 border border-transparent focus:bg-white focus:border-gray-300 placeholder-gray-800 rounded-lg bg-gray-400 py-2 pr-4 pl-10 block w-full appearance-none leading-normal ds-input"
                                            type="text" placeholder="Search your way..." autocomplete="off"
                                            spellcheck="false" role="combobox" aria-autocomplete="list"
                                            aria-expanded="false" aria-label="search input" dir="auto"
                                            style="position: relative; vertical-align: top;">
                                        <pre aria-hidden="true"
                                            style="position: absolute; visibility: hidden; white-space: pre; font-family: system-ui, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, &quot;Noto Sans&quot;, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre>
                                        <span class="ds-dropdown-menu" role="listbox"
                                            style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;">
                                            <div class="ds-dataset-1"></div>
                                        </span></span>
                                    <div class="pointer-events-none absolute inset-y-0 left-0 pl-4 flex items-center">
                                        <svg class="fill-current pointer-events-none text-gray-600 w-4 h-4"
                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                            <path
                                                d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z">
                                            </path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md:pl-16">
                            <a href="#" class="text-gray-300 text-sm font-semibold hover:text-blue-300 mr-4"
                                id="login-form">Sign in</a>
                            <a href="#"
                                class="text-gray-300 text-sm font-semibold border px-4 py-2 rounded-lg hover:text-blue-300 hover:border-blue-300"
                                id="register-form">Sign up</a>
                            <div id="loginform" class="hidden mt-3 pt-30 loginform bg-white block absolute">
                                <div class="w-full max-w-xs">
                                    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                                        <div class="mb-4">
                                            <label class="block text-gray-700 text-sm font-bold mb-2 w-64" for="email">
                                                Email Address
                                            </label>
                                            <input
                                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                id="email" type="text" placeholder="Email Address">
                                        </div>
                                        <div class="mb-6">
                                            <label class="block text-gray-700 text-sm font-bold mb-2 w-64"
                                                for="password">
                                                Password
                                            </label>
                                            <input
                                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                                                id="password" type="password" placeholder="*************">
                                        </div>
                                        <div class="flex items-center justify-between">
                                            <button
                                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-32"
                                                type="button">
                                                Sign In
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <div id="registerform"
                                class="hidden mt-3 pt-30 loginform bg-white block absolute registerform">
                                <div class="w-full max-w-xs">
                                    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                                        <div class="mb-4">
                                            <label class="block text-gray-700 text-sm font-bold mb-2 w-64"
                                                for="email_reg">
                                                Email Address
                                            </label>
                                            <input
                                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                                id="email_reg" type="text" placeholder="Email Address">
                                        </div>
                                        <div class="mb-6">
                                            <label class="block text-gray-700 text-sm font-bold mb-2 w-64"
                                                for="password_reg">
                                                Password
                                            </label>
                                            <input
                                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                                                id="password_reg" type="password" placeholder="*************">
                                            <label class="block text-gray-700 text-sm font-bold mb-2 w-64"
                                                for="passwordconfirm">
                                                Confirm Password
                                            </label>
                                            <input
                                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                                                id="passwordconfirm" type="password" placeholder="*************">
                                        </div>
                                        <div class="flex items-center justify-between">
                                            <button
                                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-32"
                                                type="button">
                                                Sign up
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End of header -->
    <!-- Start of body -->
    <div class="container mx-auto">
        <!-- Display Container (not part of component) START -->


        <div class="m-10 mx-auto p-4 sm:px-24 lg:px-48">
            <% for (var key in locals.data) { %>
                <% for (let i = 0; i < locals.data[key].length; i++) { %>
                <!-- Carousel Body -->
                <div class="relative rounded-lg block md:flex items-center shadow-xl my-6 bg-blue-900"
                    style="min-height: 19rem;">
                    <div class="w-full h-full flex items-center bg-blue-900 rounded-lg">
                        <svg class="hidden md:block absolute inset-y-0 h-full w-24 fill-current text-gray-100 -ml-12 "
                            viewBox="0 0 100 100" preserveAspectRatio="none">
                            <polygon style="fill:#2a4365" points="50,0 100,0 50,100 0,100" />
                        </svg>

                        <div class="p-12 md:pr-24 md:pl-16 md:py-12">
                            <% var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };%>
                            <div class="flex justify-between"><a href="/p/<%= locals.data[key][i].title %>" class="text-indigo-100 text-left align-left inline-block">/p/<%= locals.data[key][i].title %></a><span class="text-white inline-block align-right text-right">Posted: <%= new Date(locals.data[key][i].created).toLocaleDateString(options) %> <%= new Date(locals.data[key][i].created).toLocaleTimeString(options) %></span></div>
                            <div class="text-indigo-200 text-2xl font-bold"><a href="/p/<%= locals.data[key][i].title %>/c/<%= locals.data[key][i].subcat_name %>/threads/<%= locals.data[key][i].subject %>/<%= locals.data[key][i].thread_id %>"><%= locals.data[key][i].subject %></a></div>
                            
                            <p class="text-purple-100 blurred"><%= data[key][i].content.substr(0, 1000) %></span></p>
                            
                            <a class="flex items-baseline mt-3 text-blue-600 hover:text-blue-100 focus:text-blue-100"
                                href="/p/<%= locals.data[key][i].title %>/c/<%= locals.data[key][i].subcat_name %>/threads/<%= locals.data[key][i].subject %>/<%= locals.data[key][i].thread_id %>">
                                <span>Read the full thread</span>
                                <span class="text-xs ml-1">&#x279c;</span>
                            </a>
                            <div class="block float-right"><span class="inline-block text-green-500 text-right align-right"><i class="fas fa-arrow-up"></i><%= locals.data[key][i].upvotes %></span> <span class="inline-block text-red-500 text-right align-right"><i class="fas fa-arrow-down"></i><%= locals.data[key][i].downvotes %></span></div>
                        </div>
                    </div>
                </div>
                <% }; %>
            <% } %>





        </div>
        <!-- End of body -->
        <% include ../partials/footer.ejs %>
</body>

</html>